PRSS_URL_FILE=urls.example

PRSS_GOTIFY_HOSTNAME=notifications.example.tld
PRSS_GOTIFY_PORT=443
PRSS_GOTIFY_TLS=1
PRSS_GOTIFY_APPLICATION_TOKEN=MyS3cr3tT0k3n

PRSS_CACHE_FILE=prss.cache
PRSS_CACHE_MAX_SIZE=1000

PRSS_SLEEP_RANGE_START=60
PRSS_SLEEP_RANGE_STOP=120
