PRSS_URL_FILE=urls.example
PRSS_SENDER=<GMAIL_USERNAME>@gmail.com
PRSS_PASSWORD=<SENDER_PASSWORD>
PRSS_RECEIVER=<GMAIL_USERNAME>@gmail.com
PRSS_CACHE_FILE=prss.cache
PRSS_CACHE_MAX_SIZE=1000
PRSS_SLEEP_RANGE_START=60
PRSS_SLEEP_RANGE_STOP=120
